.footer {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.7);
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: rgba(255, 145, 0, 0.8);
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_rigth {
    margin-top: 2em;
}

.copy_rigth span {
    font-weight: bold;
    color:rgb(150, 85, 0);
}